<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our App, {{ user.email }}!</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333;">
    <h3>Welcome to CEIBS Africa , {{ user.email }}!</h3>
    <p>Hello {{ user.email }},</p>

    <p>Thank you for joining our community! We're thrilled to have you on board.
    Please verify your email to start using your account fully. Your code is.</p>

    <h2 style="text-align: center; margin-left: auto; margin-right: auto">{{ code }}</h2>

    <p>Here are a few quick tips to help you get started:</p>
    <ul>
        <li>Visit your <a href="{{ dashboard_link }}" style="color: #1a73e8;">Dashboard</a> to explore our features.</li>
        <li>Check out our <a href="{{ help_link }}" style="color: #1a73e8;">Help Section</a> if you have any questions.</li>
        <li>Update your profile with additional details about yourself to personalize your experience.</li>
    </ul>

    <p>If you ever need assistance, our support team is here to help. Just reply to this email or visit our support center.</p>

    <p>Once again, welcome, and we hope you enjoy using our service!</p>

    <p>Warm regards,<br>
    CEIBS Africa</p>

<div class="footer">

    </div>
</body>
</html>
