{% extends 'base.html' %}

{% block content %}
    <div class="dashboard-main-wrapper">
        {% include 'inc/header.html' %}
        {% include 'inc/sidenav.html' %}

        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Add Student </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Students</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Add Student</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="card">
                            <h5 class="card-header">Fill the form below</h5>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-6">
                                            <label for="image">Image</label>
                                            {{ form.image }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-6">
                                            <label for="first_name">First Name</label>
                                            {{ form.first_name }}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="last_name">Last Name</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-6">
                                            <label for="other_names">Other Names</label>
                                            {{ form.other_names }}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="email">Email</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-6">
                                            <label for="phone_number">Phone Number</label>
                                            {{ form.phone_number }}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="date_of_birth">Date of Birth</label>
                                            {{ form.date_of_birth }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-6">
                                            <label for="unique_id">Student ID</label>
                                            {{ form.unique_id }}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="gender">Gender</label>
                                            {{ form.gender }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-6">
                                            <label for="position">Position</label>
                                            {{ form.position }}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="next_of_kin">Next of Kin</label>
                                            {{ form.next_of_kin }}
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="address">Address</label>
                                        {{ form.address }}
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-outline-danger">Add Student</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- Dashboard Content End -->
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
