{% extends 'base.html' %}

{% block content %}

        <div class="dashboard-main-wrapper">
            {% include 'inc/header.html' %}

            {% include 'inc/sidenav.html' %}

            <div class="dashboard-wrapper">
                <div class="dashboard-ecommerce">
                    <div class="container-fluid dashboard-content ">
                        <!-- ============================================================== -->
                        <!-- pageheader  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header">
                                    <div class="col-12" style="display: flex; justify-content: space-between">
                                        <div>
                                           <h2 class="pageheader-title">Courses for {{ program }}</h2>
                                        </div>
                                    </div>
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Program Management</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">{{ program }}</li>
                                                <li class="breadcrumb-item active" aria-current="page">Courses</li>
                                                 <li class="breadcrumb-item active" aria-current="page">Attendance</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% for course in courses %}
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-inline-block">
                                                <h5 class="text-muted">{{ course.course_name }}</h5>
                                                <a href="{% url 'take_attendance' program_name=program course_name=course.course_name %}" class="mb-0 btn btn-outline-primary">Take Attendance</a>
                                            </div>
                                            <div class="float-right icon-circle-medium  icon-box-lg mt-1">
                                                <i class="fa fa-check-circle fa-2x"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">#}
{#                                <div class="card">#}
{#                                    <div class="card-body">#}
{#                                        <div class="d-inline-block">#}
{#                                            <h5 class="text-muted">No. of goods sold</h5>#}
{#                                            <h2 class="mb-0"> 30</h2>#}
{#                                        </div>#}
{#                                        <div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">#}
{#                                            <i class="fa fa-money-bill-alt fa-fw fa-sm text-brand"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>

{#                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">#}
{#                            <div class="card">#}
{#                                <h5 class="card-header">Students</h5>#}
{#                                <div class="card-body">#}
{#                                    <div class="table-responsive">#}
{#                                        <table class="table" id="myTable">#}
{#                                            <thead>#}
{#                                                <tr>#}
{#                                                    <th>First Name</th>#}
{#                                                    <th>Last Name</th>#}
{#                                                    <th>Student ID</th>#}
{#                                                    <th>Gender</th>#}
{#                                                    <th>Email</th>#}
{#                                                    <th>Phone Number</th>#}
{#                                                    <th>Action</th>#}
{#                                                </tr>#}
{#                                            </thead>#}
{##}
{#                                            <tbody>#}
{#                                            {% for student in students %}#}
{#                                                <tr>#}
{#                                                    <td>{{ student.first_name }}</td>#}
{#                                                    <td>{{ student.last_name }}</td>#}
{#                                                    <td>{{ student.student_id }}</td>#}
{#                                                    <td>{{ student.gender }}</td>#}
{#                                                    <td>{{ student.email }}</td>#}
{#                                                    <td>{{ student.phone_number }}</td>#}
{#                                                    <td><a class="btn btn-sm btn-primary" href="{% url 'student_details' student_id=student.student_id %}">Full Details</a></td>#}
{#                                                </tr>#}
{#                                            {% endfor %}#}
{#                                            </tbody>#}
{#                                        </table>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}


                    </div> <!-- Dashboard Content End -->
                </div>
            </div>

        </div>
{% endblock %}

{% block scripts %}
{% endblock %}