{% extends 'base.html' %}

{% block content %}

<div class="dashboard-main-wrapper">
    {% include 'inc/header.html' %}
    {% include 'inc/sidenav.html' %}

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Add Prospect </h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Prospects</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Add Prospect</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card">
                        <h5 class="card-header">Fill the form below to add a Prospect</h5>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="form-group col-lg-4">
                                        <label for="first_name">First Name</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="last_name">Last Name</label>
                                        {{ form.last_name }}
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="other_names">Other Names</label>
                                        {{ form.other_names }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="form-group col-lg-6">
                                        <label for="phone_number">Phone Number</label>
                                        {{ form.phone_number }}
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="email">Email</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="form-group col-lg-6">
                                        <label for="company">Company</label>
                                        {{ form.company }}
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="position">Position</label>
                                        {{ form.position }}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="form-group col-lg-12">
                                        <label for="comments">Comments</label>
                                        {{ form.comments }}
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-outline-danger">Add Prospect</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- Dashboard Content End -->
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
